:root {
    --top-bar-element-margin: 5%;
    --top-bar-height: 60px;
    --column-margin: 30px;
    --hover-opacity: 0.7;
}

/* General */


body {
    background-image: url('img/trees.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: calc(var(--top-bar-height ) + var(--column-margin)/2);
    margin: 0;
}

* {
    box-sizing: border-box;
}


p {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Top bar styles */

.header {
    background-color: white;
    color: black;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--top-bar-height);
}

.fancy-text {
    font-family: "pacifico", cursive;
    font-weight: normal;
    font-size: 1.5em;
    color: black;
    margin-right: auto;
    margin-left: var(--top-bar-element-margin);
}

.header-button-container {
    margin-left: auto;
    margin-right: var(--top-bar-element-margin);
}

/* Button styles */

.button {
    background-color: transparent;
    color: black;
    border: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: serif;
    font-size: 1.2em;
    margin: 20px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    opacity: var(--hover-opacity);
}


/* Content styles */

.row {
    background-color: transparent;
    width: 70%;
    display: flex;
    justify-content: center;
    padding-right: calc(var(--column-margin)/2);
    padding-left: calc(var(--column-margin)/2);
}

.column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    background-color: white;
    color: black;
    width: calc(100% - var(--column-margin));
    flex: 1;
    margin: calc(var(--column-margin)/2);
}

.text {
    font-size: 1.2em;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    word-wrap: break-word;
    box-sizing: border-box;
}

.video {
    aspect-ratio: 4/3;
    width: 100%;
    display: block; 
    border: 10px solid white;
}

.slide {
    aspect-ratio: 960/569;
    width: 100%;
    display: block;
    border: 10px solid white;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Adjust the gap between tags as needed */
}

.tag {
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 1em;
    display: inline-block;
    margin-bottom: 15px
}


@media screen and (max-width: 1300px) {
    .row {
        flex-direction: column;
        width: 100%;
    }
    .column {
        width: 100%;
    }
}

.footer {
    width: 100%;
    margin-top: auto;
}

.footer-bar {
    background-color: white;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--top-bar-height);
}

/* Icons */
.fa, .fab {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color:black;
    margin: 0px 20px;
}

.fa:hover,  .fab:hover {
    opacity: var(--hover-opacity);
}

